*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "Raleway";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;
    padding: 30px;
}

main {
    overflow: hidden;
    border: 1px solid red;
}

h1 {
    font-size: 3vh;
    line-height: 33px;
    padding-bottom: 2vh;
}

p {
    font-weight: 500;
    font-size: 1.5vh;
    letter-spacing: 0.07em;
    color: #B4B4B4;
}

.logo {
    width: 22vw;
    height: 12vw;
    border: 1px solid red;
}

.container {
    display: flex;
    border: 1px solid red;
    margin: 10px;
}

.cardSlider {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: #ffff;
    width: 13vh;
    height: 16vh;
    margin: 10px 12px;
    border-radius: 13px;
    filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2));
    border: 1px solid red;
}

.cardSlider img {
    width: 9vh;
    margin-bottom: 8px;
    border: 1px solid red;
}

.foodDishes {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}

.foodDishes img {
    width: 221.28px;
    height: 258.16px;
    object-fit: cover;
    border-radius: 15px;
}

.footText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
